
body {
  position: absolute;
  width: 100%;
  height: 3000px;
  margin: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  background-color: #62c3a0;
  -webkit-box-shadow: inset 10px 110px 15px -110px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 110px 15px -110px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 110px 15px -110px rgba(0, 0, 0, 0.75);
}
.header {
  position: fixed;
  top: 0;
  height: 300px;
  width: 100%;
  background-color: #7ffdd2;
  transition: 300ms;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.header-collapsed {
  height: 50px;
}
.logo {
  position: absolute;
  height: 250px;
  background-color: white;
  width: 250px;
  left: 50%;
  top: 25px;
  margin-left: -470px;
  transition: 300ms;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.logo-collapsed {
  top: 5px;
  height: 40px;
  width: 40px;
  margin-left: -485px;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.hidden {
  display: none;
}
.title {
  position: absolute;
  font-size: 70px;
  transition: 300ms;
  line-height: 300px;
  width: 400px;
  margin-left: -200px;
  left: 50%;
  overflow: visible;
}

.title-collapsed {
  font-size: 30px;
  line-height: 50px;
  margin-left: -440px;
}