body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    text-align: center;
}
.long-text {
    margin: 0 10vw;
    text-align: justify;
}
.img {
    width: 100vw;
    height: 25vw;
    background-size: cover;
}
.header-img {
    background: linear-gradient(0deg, #ffffffff, #ffffff00),
        url("1-min.png") no-repeat bottom center;
}
.footer-img {
    background: linear-gradient(180deg, #ffffffff, #ffffff00),
        url("1-min.png") no-repeat top center;
}
.splitter {
    height: calc(100vw * 0.025);
}
.slider {
    font-size: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}