.logo {
    position: absolute;
    height: 250px;
    background-color: white;
    width: 250px;
    left: 50%;
    top: 25px;
    margin-left: -470px;
    transition: 300ms;
    border-radius: 50%;
    overflow: hidden;

    -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.logo-collapsed {
    top: 5px;
    height: 40px;
    width: 40px;
    margin-left: -490px;

    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
}